
.navi{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: rgb(42, 41, 46);
    position: fixed;
}
#navitems{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
#navitems h5{ 
    font-weight: lighter;
    margin-top: 0;
    text-align: center;
    margin-top: 5px;
}
#navitems a{
    height: 50px;
    width: 90px;
    border-radius: 10px;
}
#navitems a:hover{
    background-color: #5CABF0;
    border-radius: 50px;
    transition: 500ms ease-in;
}
#icon{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
h1{
    color: white;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: lighter;
    font-size: 85px;
    margin: auto;
    margin-bottom: 20px;
}

h6{

    font-size: medium;
    font-weight: lighter;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
    color: black;

}
body{
    background-color: rgb(42, 41, 46);
    margin: 0;
}
button{
    box-shadow: 0px 5px 5px;
    
}

button:hover{
    cursor: pointer;
    box-shadow: none;
}
.ListBody{
    display: flex;
    padding-inline: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0%;
    background:linear-gradient(to right, #3172AA, transparent);
    background-color: #5CABF0;
    height: 450px;
    border-radius: 0px;
    color: white ;
}
.editListBody{
    display: flex;

    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0%;
    
    border-radius: 0px;
    color: white ;
}
.editListBody input{
    background-color: #5CABF0;
}
.myForm{

    margin: auto;
    margin-top: 40px;
}
.list-container{
    margin-top: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    align-self: center;
    width:57%;
    position: relative;
    top: 50px;
}
#todoContainer{
    display: flex;
}
p{
    display: inline;
    align-items: start;
    color: black;
}
.todoItem{
    text-align: start;
    font-size: x-large;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    background-color: #6AB4F3;
    width: 25%;
    min-height: 0;
    color: white;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 6px;
    
    border:1px solid white;
    border-radius: 8px;
    order: -1;
}
.images{
    width: 30px;
    height: 66px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 10px;
    box-shadow: none;
}
.images button{
    background-color: transparent;
    border: 0px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-right: 15px;
    display: inline;
}
.images img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    position: relative;
    left: -5px;
}
.images img:hover{
    transform: scale(1.5,1.5);
    filter: hue-rotate(-90deg);
}



.but:hover{
    background-color: rgb(42, 41, 46);;
    color: white;
    
}

.but {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    display: inline; 
    align-items: center;
    background-color: white;
    border: none;
    text-align: center;
    margin-left: 8px;
    transition: 100ms ease-in-out;
    outline: none;
}


.inp{
    display: inline;   
    border-radius: 6px;
    height: 40px;
    width: 250px;
    color: white;
    border: none;
    background-color: rgb(42, 41, 46);
    padding-inline: 15px;
}
.inpEdit{
    display: inline;   
    border-radius: 6px;
    height: 40px;
    width: 354px;
    color: black;
    border: none;
    margin-left: 49px;
    background-color: rgb(42, 41, 46);
    padding-inline: 15px;
    
}

.butEdit {
    width: 80px;
    height: 40px;
    border-radius: 6px;
    display: inline; 
    align-items: center;
    background-color: white;
    border: none;
    text-align: center;
    margin-left: 8px;
    transition: 100ms ease-in-out;
    outline: none;
}

.butEdit:hover{
    background-color: #5CABF0;
    color: white;
}

.lest{
    margin-top: 30px;
}
.myLink{
    text-decoration: none;
    color: white;
}
.notfound{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
} .notfound h1{
    margin: auto;
    text-align: center;
}
#chev{
    display: none;
}

.dropProfile{
    display: none;
}
@media(max-width: 600px){
    h1{
        color: white;
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: lighter;
        font-size: 55px;
        margin: auto;
        margin-bottom: 20px;
    }
    h6{
        font-size: small;
    }
    .ListBody{
        display: flex;
        padding-inline: 50px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0%;
        background:linear-gradient(to right, #3172AA, transparent);
        background-color: #5CABF0;
        height: 450px;
        border-radius: 0px;
        color: white ;
    }
    .editListBody{
        display: flex;
    
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0%;
        
        border-radius: 0px;
        color: white ;
    }
    .editListBody input{
        background-color: #5CABF0;
    }
    .but {
        width: 80px;
        height: 40px;
        border-radius: 6px;
        display: block; 
        align-items: center;
        background-color: white;
        border: none;
        text-align: center;
        margin-left: 10px;
        margin-top: 10px;
        transition: 100ms ease-in-out;
        outline: none;
    }
    #navitems{
        display: none;
    }
    .myLink h5{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .myLink{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right:0px;
        transition: 200ms ease-in;
        border-radius: 15px;
    }
    .myLink:hover{
        background-color: #3172AA;
    }
    #chev{
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: 80px;
        margin-top: 7px;
    }
    #chev:hover{
        cursor: pointer;
    }
    #chev .icn{
        font-size: 30px;
        position: relative;
    }
    #chev .icn{
        color: white;
        width: 30px;
        height: 30px;
        transition: 100ms ease-in;
    }
    .inpEdit{
        width: 150px;
    }
    #chev .icn.active{
        transform:scale(-1, 1);
    }
    #chev .icn.inactive{
        transform: scale(-1, -1);
    }
    .dropProfile{
        display: flex;
        position: absolute;
        border-radius: 25px;
        padding: 10px 20px;
        width: 20vh;
        top: 90px;
        left: 380px;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        background: rgb(42, 41, 46);
    }
    .dropProfile::before{
        position: absolute;
        top: -5px;
        right: 20px;
        right:20px;
        width: 20px;
        transform: rotate(45deg);
        }
        .dropProfile.active{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: 600ms ease; 
        }
        .dropProfile.inactive{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50px);
            transition: 600ms ease;
        }
     /* .dropProfile{
        border-radius: 5px;
        margin-top: 10px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 20vh;
        background: rgb(42, 41, 46);
        position: absolute;
        top:70px;
        left: 400px; }*/
    
}
